@page "/sifarnici"
<MudGrid Class="m-3">
    <MudItem xs="12" sm="4" Class="ms-2">
            <MudSelect @ref="mudSelect" Class="d-inline ml-6 mt-3" T="string" Label="Izaberi" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" ValueChanged="HandleSelectionChange" >
                <MudSelectItem Value="@("Interni dobavljači")" />
                <MudSelectItem Value="@("Inostrani dobavljači")" />
                <MudSelectItem Value="@("Kategorija - Interni nalog - mesto troška")" />
                <MudSelectItem Value="@("Akcijska aktivnost - PDV - SAP ključ - Materijal")" />
                <MudSelectItem Value="@("Brojač - SAP šifra - Broj knjižnog zaduženja - SAP ključ - Iznos")" />
             </MudSelect>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" Style="height: 45px" Disabled="@IsImportAndExportAllowed()" Href="@GetDownloadPath()">
            <MudIcon Icon="@Icons.Outlined.SimCardDownload" Title="Importuj"/>&nbsp;Preuzmi Excel template
        </MudButton>
        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFile" Class="d-inline">
            <ButtonTemplate>
                <MudButton HtmlTag="label"
                            for="@context" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" Style="height: 45px" Disabled="@IsImportAndExportAllowed()">
                    <MudIcon Icon="@Icons.Filled.UploadFile" Title="Importuj" />&nbsp;Importuj
                </MudButton>
            </ButtonTemplate>
        </MudFileUpload>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="mt-4" Style="height: 45px" Disabled="@IsDeletingAllowed()" OnClick="OpenDialog">
            <MudIcon Icon="@Icons.Filled.Delete" Title="Importuj" />&nbsp;Brisanje
        </MudButton>
    </MudItem>
    <MudItem xs="12" sm="10" Class="p-0">
        @if
        (Columns == null)
        {
            <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
        }
        else
        {
            <Table Columns="Columns" ColumnsToShow="ColumnsToShow" Elements="Elements" ElementChanged="@ElementChangedHandler"></Table>
        }
       
    </MudItem>


</MudGrid>



